{% extends "base.html" %}

{% block titulo %}
	<title>Informações sobre alunos</title>
{% endblock %}

{% block conteudo %}
	<h1>Situação dos alunos</h1>
	<table>
		<tr>
			<th>Matrícula</th>
			<th>Nome</th>
			<th>Curso</th>
			<th>Média</th>
			<th>Situação</th>
		</tr>
		{% for aluno in lista_alunos %}
			{# Cada "aluno" é um objeto da classe Aluno #}
			<tr>
				<td>{{ aluno.matricula }}</td>
				<td>{{ aluno.nome }}</td>
				<td>{{ aluno.curso }}</td>
				<td>{{ aluno.media }}</td>
				<td>
					{% if aluno.media >= 6 %}
						Aprovado
					{% else %}
						Reprovado
					{% endif %}
				</td>
				
			</tr>
		{% endfor %}
	</table>
{% endblock %}
